<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mine</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="mine">
            <ul>
                <li v-for="d in data">
                    <div v-for="item in d" @click="click(item)" @contextmenu.prevent="rightClick(item)">
                        <span v-if="item.status===1">{{item.value}}</span>
                        <span v-else v-bind:class="{ 
                            'item-black': item.status===2,
                            'item-flag': item.status===3,
                            'item-mark': item.status===4,
                            'item-mine': item.status===5,
                            'item-error': item.status===6,
                        }"></span>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="./mine.js"></script>
    <script src="./index.js"></script>
</body>

</html>