<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mine</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="mine">
            <ul>
                <li v-for="d in data">
                    <span v-for="item in d">
                        {{item}}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <script src="./mine.js"></script>
    <script src="./index.js"></script>
</body>

</html>